.App {
  text-align: center;
  color: white;
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

video {
    opacity: 1;
    transition: opacity 5s ease;
}

.App-header {
    opacity: 1;
    transition: opacity 5s ease;
}

.video-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    transition: opacity 5s;
}

.fade-out {
    opacity: 0;
}
.inline-block{
  display:inline-block;
  width: 100%;
}

/* Entry animations */
.transition-enter {
  opacity: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.transition-enter-active {
  opacity: 1 !important;
  transition: opacity 700ms ease-in-out;
}

.transition-exit {
  opacity: 0 !important;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.transition-exit-active {
  opacity: 1 !important;
  transition: opacity 1000ms ease-in-out;
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  will-change: opacity;
}

.page-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000000;
}

.main-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
